{# permite dejar un comentario  #}
{% extends "plantillaBase.html" %}
{% block tituloPestana %} Admin. Cliente{% endblock %}
{% block titulo %} Cliente {% endblock %}
{% block mensaje %} 
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if exito %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ exito }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

{% endblock %}
{% block contenido %} 
    <form method="POST" action="{% url 'clienteForm' %}">
        {% csrf_token %}
        <center>
            <table>
                {{form.as_table}}
            </table>
        <center>
        <br>
        <div class="row">
            <div class="col-2 offset-2">Opciones</div>
            <div class="col-5">
                <input type="submit" name="Grabar" value="Grabar" class="btn btn-danger">  
            </div>
        </div>
    </form>
{% endblock %}
{% block listado %} 
    {% if listado %}
            <table class="table table-reponsive table-striped table-bordered mt-3">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
        {% for fila in listado %}
                <tr>
                    <td>{{ fila.id_marca }}</td>
                    <td>{{ fila.nombre | capfirst }}</td>
                </tr>      
                
        {% endfor %}
            </table>
    {% endif %}
{% endblock %}